@import url(global.css);

header{
  padding: 2rem;
  display: grid;
  place-content: center;
  font-size: 2rem;
}
#app{
  height: calc(100vh - 9.52rem);
  width: 100%;
}
#weather-now{
  padding: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  position: relative;
}
#weather-now .day{
  background-color: #1A1C49;
  width: 100%;
  font-size: 2rem;
  display: grid; 
  padding-top: 8.8rem;
  position: relative;
  border-radius: 0.8rem;
}
#weather-now .day .text{
  padding-top: 17.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 2rem;
  width: 100%;
}
#weather-now .day .text .span-2{
  grid-column: span 2;
  border-bottom: 1px solid #fff;
}
#weather-now .day .text span{
  font-size: 3rem;
  padding: 1rem 0;
}
#weather-now .day .text .side-border{
  border-right: 1px solid #fff;
}

#weather-now .day  img{
  position: absolute;
  width: 80%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}